# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws
out/

# =========================
# Eclipse / STS
# =========================
.classpath
.project
.settings/
.springBeans
.factorypath

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# =========================
# Gradle
# =========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Java
# =========================
*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*

# =========================
# Spring Boot
# =========================
application-local.yml
application-local.properties
application-dev.yml
application-dev.properties
application-prod.yml
application-prod.properties

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.key
*.pem
*.crt

# =========================
# OS files
# =========================
.DS_Store
.DS_Store?
Thumbs.db

# ==========

