server:
  # force ipv4 binding
  address: 0.0.0.0
  port: 8080

spring:
  application:
    name: skadi
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 60
          cache-public: true


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  aws:
    region: us-east-1
    s3:
      # set to http://localhost:4566 for LocalStack; leave blank in real AWS
      endpoint: ""
      # optional: path-style needed for some S3-compatible endpoints (and LocalStack often)
      pathStyleAccess: true

skadi:
  aws:
    region: us-east-2
    s3:
      # set to http://localhost:4566 for LocalStack; leave blank in real AWS
      endpoint: ""
      # optional: path-style needed for some S3-compatible endpoints (and LocalStack often)
      pathStyleAccess: true
  local:
    cacheRootDir: ./data/skadi-cache
    cacheMaxSize: 10Gb # 10 GB
  peer-cache:
    enabled: true
    peers: ["http://skadi-1:8080", "http://skadi-2:8080"]
    maxPeersToTry: 2
    headTimeoutMs: 250
    getTimeoutMs: 8000

  query-cache:
    bucket: skadi-cache
    prefix: results

  auth:
    scheme: hmac
    allowedSkewSeconds: 30
    keyId: "peer-key-1"
    sharedSecrets:
      peer-key-1: "${SKADI_PEER_HMAC_SECRET}"

  demo:
    h2:
      enabled: true
      dbName: skadi_demo
      allowRemote: false
      adminToken: ""   # set to a value if you want token protection


  jdbc:
    datasources:
      demo-h2:
        jdbcUrl: jdbc:h2:mem:skadi_demo;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=FALSE
        username: sa
        password: ""